

/*body*/


body {
    background-color: purple;
    display: flex;
    flex-direction: column;
    flex: none;
    align-items: center;
    align-content: center;
    

    
    
}

/*title*/

.title {
    margin-top: 0;
    padding-top: 10px;
    font-size: 75px;
    text-align: center;
    color: greenyellow;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*clear/reload*/

.clear {
    font-size: 75px;
}

/*entire use of calculator and screen display */

.calculator {
    width: 500px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: purple;
    padding: 25px;
    padding-bottom: 3px;

    
}

/*display screen*/

.display{
    color: purple;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 5px;
    border-style: solid;
    border-width: 5px;
    background-color: greenyellow;
    margin: 5px;
    border-color: black;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    text-overflow: clip;
    
    overflow: hidden;
    white-space: none;
}

/*any button format*/

button {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px;
    background-color: purple;
    border-color: yellowgreen;
    border-width: 3px;
    color: greenyellow;
    padding-top: 4px;
    padding-bottom: 4px;
     font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

/*numbers*/

.num {
    font-size: 80px;
    background-color: purple;
    border-color: yellowgreen;
    margin-bottom: 10px; 
}

/*= sign*/

.equal {
    padding-top: 2px;
    padding-bottom: 2px;
}